In [1]:
from sqlalchemy import create_engine

In [2]:
engine = create_engine("sqlite:///:memory:", echo=True)
# echo=True sets up logging mode for SQLAlchemy
engine

Engine(sqlite:///:memory:)

In [3]:
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [4]:
from sqlalchemy import Column, Integer, String
class User(Base):
    __tablename__ = "users"
    
    name = Column(String, primary_key=True)
    number = Column(Integer)
    
    def __repr__(self):
        return f'User(name={self.name}, number={self.number})'

In [6]:
Base.metadata.create_all(engine)  # Creates the table

2018-08-26 17:32:45,545 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-08-26 17:32:45,547 INFO sqlalchemy.engine.base.Engine ()
2018-08-26 17:32:45,549 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-08-26 17:32:45,550 INFO sqlalchemy.engine.base.Engine ()
2018-08-26 17:32:45,552 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("users")
2018-08-26 17:32:45,554 INFO sqlalchemy.engine.base.Engine ()
2018-08-26 17:32:45,556 INFO sqlalchemy.engine.base.Engine
CREATE TABLE users (
	name VARCHAR NOT NULL,
	number INTEGER,
	PRIMARY KEY (name)
)


2018-08-26 17:32:45,558 INFO sqlalchemy.engine.base.Engine ()
2018-08-26 17:32:45,559 INFO sqlalchemy.engine.base.Engine COMMIT

In [9]:
jenny = User(name="Jenny", number=8675309)
jenny

In [11]:
jenny.name

'Jenny'

In [12]:
jenny.number

8675309

In [14]:
from sqlalchemy.orm import sessionmaker
Session = sessionmaker(bind=engine)

In [16]:
session = Session()
session.add(jenny)

In [17]:
jenny_from_db = session.query(User).filter_by(name='Jenny').first()
jenny_from_db

2018-08-26 18:30:15,638 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-08-26 18:30:15,644 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, number) VALUES (?, ?)
2018-08-26 18:30:15,645 INFO sqlalchemy.engine.base.Engine ('Jenny', 8675309)
2018-08-26 18:30:15,649 INFO sqlalchemy.engine.base.Engine SELECT users.name AS users_name, users.number AS users_number
FROM users
WHERE users.name = ?
 LIMIT ? OFFSET ?
2018-08-26 18:30:15,650 INFO sqlalchemy.engine.base.Engine ('Jenny', 1, 0)

User(name=Jenny, number=8675309)

In [18]:
jenny_from_db is jenny

True

In [19]:
session.commit()  # Actually inserting our rows into the DB

2018-08-26 19:29:56,326 INFO sqlalchemy.engine.base.Engine COMMIT

In [22]:
session.new  # No more items pending

IdentitySet([])

In [24]:
session.query(User).filter_by(name="Jenny").first()  # Still retrieves from the DB, behavior remains unchanged

2018-08-26 19:31:31,288 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-08-26 19:31:31,291 INFO sqlalchemy.engine.base.Engine SELECT users.name AS users_name, users.number AS users_number
FROM users
WHERE users.name = ?
 LIMIT ? OFFSET ?
2018-08-26 19:31:31,292 INFO sqlalchemy.engine.base.Engine ('Jenny', 1, 0)

User(name=Jenny, number=8675309)